.app-layout {
  display: flex;
  background-color: #f9fafb; /* Gray-50 */
  min-height: 100vh;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 260px; /* Same as sidebar width */
  width: calc(100% - 260px);
}

.main-content {
  flex-grow: 1; /* This makes the content area expand */
  padding: 2rem;
}
